.toolbar{
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    background: slategray;
    height:56px;
}
.toolbar__navigation{
    display: flex;
}
.toolbar__logo a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;


}